/* You can add global styles to this file, and also import other style files */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0 ;
  padding: 0 ;
}

th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  margin: 0 auto;
}



