/* You can add global styles to this file, and also import other style files */



th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  margin: 0 auto;
}

.main-content {
  margin: 5vh 10%
}

