<div *ngIf="showModalBackdrop" class="modal-backdrop" (click)="toggleModalBackdrop()">
  <div *ngIf="!isEditing" class="modal-create-book" (click)="$event.stopPropagation()">
    <h4>New recipe book</h4>
    <hr />
    <input class="text-input" type="text" placeholder="Enter recipe book title" [(ngModel)]="newRecipeBookTitle" />
    <div class="modal-action-buttons">
      <button class=" no-border action-btn action-small-btn" (click)="toggleModalBackdrop()">Cancel</button>
      <button [disabled]="!newRecipeBookTitle || newRecipeBookTitle.length < 1"
              class="no-border action-btn action-confirm-btn action-small-btn"
              (click)="createRecipeBook()">
        Save
      </button>
    </div>
  </div>

  <div *ngIf="isEditing" class="modal-create-book" (click)="$event.stopPropagation()">
    <h4>Edit recipe book</h4>
    <hr />
    <input class="text-input" type="text" placeholder="Enter recipe book title" [(ngModel)]="editedTitle" />
    <div class="modal-action-buttons">
      <button class=" no-border action-btn action-small-btn" (click)="toggleModalBackdrop()">Cancel</button>
      <button [disabled]="!editedTitle || editedTitle.length < 1"
              class="no-border action-btn action-confirm-btn action-small-btn"
              (click)="saveEditedBook()">
        Save
      </button>
    </div>
  </div>
</div>


<div class="action-buttons">
  <button class="action-btn" (click)="startAdding()">+ Add a book</button>
</div>

<div class="recipe-grid">
  <div *ngFor="let book of recipeBooks">


    <div class="book-container">
      <div class="book-image">
        <a [routerLink]="['/recipe-books', book.id]">
          <img src="../../assets/background.png" />
        </a>

        <div (click)="startEditing(book)" class="edit-recipe">
          <i class=" icon-outline fa-solid fa-pen"></i>
        </div>

        <div (click)="deleteBook(book.id!)" class="delete-recipe">
          <i class=" icon-outline fa-solid fa-x"></i>
        </div>

        <div class="recipe-count">
          <i class="fa-solid fa-list"></i>
          {{ book.recipeAmount || 0 }} {{ (book.recipeAmount || 0) === 1 ? 'recipe' : 'recipes' }}
        </div>
      </div>
      <div class="book-details">
        <div>
          <p class="book-title">{{ book.recipeBookTitle }}</p>
        </div>
        <!--<div>
          <p>Private</p>
          <p>•</p>
          <p>Updated today</p>
        </div>-->
      </div>
    </div>


  </div>


</div>
