<div class="books-container">
  <h1>Recipe Books</h1>
  <p>This page will display all your saved recipe books.</p>

  <!-- Botão para abrir o formulário -->
  <button class="add-book-btn" (click)="toggleForm()">+ Add Recipe Book</button>

  <!-- Formulário para criar um Recipe Book -->
  <div *ngIf="showForm" class="form-container">
    <input type="text" [(ngModel)]="newRecipeBookTitle" placeholder="Enter Recipe Book Title" />
    <button class="create-btn" (click)="createRecipeBook()">Create</button>
  </div>
</div>
