<div class="recipe-detail-container" *ngIf="recipe">
  <h1 class="recipe-title">{{ recipe.title }}</h1>  <!--by {{ user?.username || 'Unknown' }}-->

  <div class="recipe-user">
    <div class="user-info">
      <img src="assets/user-avatar.png" class="user-avatar">
      <div>
        <p *ngIf="user">By {{ user.username }}</p>
        <p class="recipe-date">Created: {{ recipe.createDate | date:'longDate' }}</p>
      </div>
    </div>

    <div class="recipe-actions">
      <button class="add-btn" (click)="toggleRecipeBookList()">Add to book</button>
      <div *ngIf="showRecipeBookList" class="recipe-book-dropdown">
        <label for="selectBook">Select a Recipe Book:</label>
        <select [(ngModel)]="selectedRecipeBook" id="selectBook">
          <option *ngFor="let book of userRecipeBooks" [value]="book.id">
            {{ book.recipeBookTitle }}
          </option>
        </select>
        <button class="confirm-add-btn" (click)="addToRecipeBook()">Add</button>
      </div>
      <!-- Show Delete button if currentUser is the creator or an Admin -->
      <button class="add-btn" *ngIf="canDeleteRecipe()" (click)="deleteRecipe()">Delete</button>
      <!-- Show Edit button only if currentUser is the creator -->
      <button class="add-btn" *ngIf="canEditRecipe()" (click)="editRecipe()">Edit</button>
    </div>
  </div>
  <hr />
  <div class="recipe-image">
    <img src="assets/placeholder-image.png" alt="Recipe Image">
  </div>

  <p class="recipe-description">{{ recipe.description }}</p>

  <hr />
  <h2>Recipe</h2>
  <div class="recipe-section">
    <h3>Ingredients</h3>
    <p>{{ recipe.ingredients }}</p>
  </div>

  <div class="recipe-section">
    <h3>Preparation</h3>
    <p>{{ recipe.instructions }}</p>
  </div>

  <div class="recipe-comments">
    <h3>Comments</h3>
    <textarea [(ngModel)]="newComment" placeholder="Leave a comment"></textarea>
    <button class="comment-btn" (click)="addComment()">Comment</button>

    <div class="comment-list" *ngIf="comments.length > 0">
      <div class="comment-item" *ngFor="let comment of comments">
        <p class="comment-text">{{ comment.commentText }}</p>
        <p class="comment-date">Posted by <strong>{{ getUserName(comment.userId) }}</strong></p>
        <button class="delete-btn" (click)="deleteComment(comment.id)">🗑</button>
      </div>
    </div>

    <p *ngIf="comments.length === 0" class="no-comments">No comments yet. Be the first to comment!</p>
  </div>

  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <h3>Are you sure?</h3>
      <p>Do you really want to delete this comment?</p>
      <div class="modal-buttons">
        <button class="confirm-btn" (click)="confirmDelete()">Delete</button>
        <button class="cancel-btn" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
</div>
