.recipe-book-details-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.recipes-list {
  list-style: none;
  padding: 0;
}

  .recipes-list li {
    background: #f5f5f5;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    transition: background 0.3s ease;
  }

    .recipes-list li:hover {
      background: #e0e0e0;
    }

button {
  background: #45D345;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

  button:hover {
    background: #3bb133;
  }
