<h2>{{ recipeBookTitle }}</h2>
<div class="recipe-grid">
  
  <div *ngIf="recipes.length > 0; else noRecipes" class="recipe-list">
    <div *ngFor="let recipe of recipes" class="recipe-card">
      <app-recipe-card [id]="recipe.id"
                       [title]="recipe.title"
                       [description]="recipe.description"
                       [date]="recipe.createDate | date:'shortDate'"
                       [userId]="recipe.userId"
                       [recipeBookId]="recipeBookId"
                       [onClickRemove]="removeRecipe"
                       >
      </app-recipe-card>
    </div>
    
  </div>
      <!--<button class="remove-btn" (click)="removeRecipe(recipe.id)">❌ Remove</button>-->

  <ng-template #noRecipes>
    <p class="no-recipes-message">No recipes in this book yet.</p>
  </ng-template>
</div>
