<p *ngIf="!recipes"><em>Loading...</em></p>
<div class="search-bar">
  <input type="text"
         [(ngModel)]="searchTerm"
         placeholder="Search recipes by title..."
         class="search-input" />
  <button (click)="getRecipesSearch()" class="search-button">Search</button>
</div>

<table *ngIf="recipes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.id }}</td>
      <td>{{ recipe.title }}</td> <!-- Use recipe.title here -->
      <td><a [routerLink]="['/recipes', recipe.id]">View Recipe</a></td> <!-- Use recipe.title here -->
      <td><a href="#" (click)="deleteRecipe(recipe.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
