<div class="recipe-list-container">
  
  <!-- Título da Página -->
  <h2 class="recipe-page-title">Find a great recipe</h2>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text"
           [(ngModel)]="searchTerm"
           placeholder="Search recipes..."
           class="search-input" />
    <button (click)="getRecipesSearch()" class="search-button">Search</button>
  </div>

  <!-- Botão para ordenar -->
  <button (click)="toggleOrderRecent()" class="order-button">
    Order by: {{ orderRecent ? 'Recent' : 'None' }}
  </button>

  <!-- Grid de receitas -->
  <div class="recipe-grid" *ngIf="recipes">
    <div *ngFor="let recipe of recipes" class="recipe-card">
      <a [routerLink]="['/recipes', recipe.id]">
        <app-recipe-card [title]="recipe.title"
                         [description]="recipe.description"
                         [date]="recipe.createDate | date:'short'"
                         [userId] = "recipe.userId">
        </app-recipe-card>
      </a>

      <!-- Botões de ação -->
      <!--<div class="recipe-actions">
        <a [routerLink]="['/recipes', recipe.id]" class="view-recipe">View Recipe</a>
        <a [routerLink]="['/recipes/edit', recipe.id]" class="view-recipe">Edit</a>
        <a href="/recipes" (click)="deleteRecipe(recipe.id)" class="delete-recipe">Delete</a>
      </div>-->
    </div>
  </div>
</div>
