<div class="recipe-list-container">

  <div id="search-container">
    <!-- Título da Página -->
    <h2 class="recipe-page-title">Find a great recipe</h2>

    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text"
             [(ngModel)]="searchTerm"
             placeholder="Search recipes..."
             class="search-input"
             (keyup.enter)="getRecipesSearch()"/> <!--on enter search-->
      <button (click)="getRecipesSearch()" class="search-button">Search</button>
    </div>
  </div>

  <!-- Botão para ordenar -->
  <ul id="order-list">
    <li (click)="setOrderRecent()">
      <input id="latest" checked="checked" type="radio" name="order"/>
      <label for="latest">Latest</label>
    </li>
    <li (click)="setOrderRated()">
      <input id="brated"  type="radio" name="order"/>
      <label for="brated">Best Rated</label>
    </li>
  </ul>

  <!-- Grid de receitas -->
  <div class="recipe-grid" *ngIf="recipes">
    <div *ngFor="let recipe of recipes" class="recipe-card">
        <app-recipe-card [id]="recipe.id"
                         [title]="recipe.title"
                         [description]="recipe.description"
                         [date]="recipe.createDate | date:'short'"
                         [userId]="recipe.userId">
        </app-recipe-card>
      

      <!-- Botões de ação -->
      <!--<div class="recipe-actions">
        <a [routerLink]="['/recipes', recipe.id]" class="view-recipe">View Recipe</a>
        <a [routerLink]="['/recipes/edit', recipe.id]" class="view-recipe">Edit</a>
        <a href="/recipes" (click)="deleteRecipe(recipe.id)" class="delete-recipe">Delete</a>
      </div>-->
    </div>
  </div>
</div>
