<div class="main-content">
  <!--Profile image here-->
  <div>
    <img class="user-avatar" src="../../assets/background.png" />
    <h3>{{ user.username }}</h3>
  </div>
  <div>
    <h4>About me</h4>
    <p> {{ user.aboutMe }} </p>
  </div>
  <hr />
  <div>
    <h4>Recipes</h4>
    <!--recipes-->
    <div class="recipes-container">
      <div *ngFor="let recipe of recipes" class="recipe-card">
          <app-recipe-card
                           [id]="recipe.id"
                           [title]="recipe.title"
                           [description]="recipe.description"
                           [date]="recipe.createDate | date:'short'"
                           [userId]="recipe.userId">
          </app-recipe-card>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <h4>Recipe Books</h4>
    <!--recipe books-->
  </div>
</div>
