<div class="main-content">
  <!--Profile image here-->
  <div>
    <img class="user-avatar" src="assets/user-avatar.png" />
    <h3>{{ user.username }}</h3>
  </div>
  <div>
    <h4>About me</h4>
    <p *ngIf="!user.aboutMe">We don't know much about {{ user.username }} but we're sure they're a good person!</p>
    <p *ngIf="user.aboutMe"> {{ user.aboutMe }} </p>
  </div>
  <hr />
  <div>
    <h4>Recipes</h4>
    <!--recipes-->
    <div class="recipe-grid">
      <div *ngFor="let recipe of recipes" class="recipe-card">
          <app-recipe-card
                           [id]="recipe.id"
                           [title]="recipe.title"
                           [description]="recipe.description"
                           [date]="recipe.createDate | date:'shortDate'"
                           [userId]="recipe.userId"
                           [imageUrl]="recipe.imageUrl"
                           >
          </app-recipe-card>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <h4>Recipe Books</h4>
    <!--recipe books-->
    <div class="recipe-grid">
      <div *ngFor="let book of recipeBooks">


        <div class="book-container">
          <div class="book-image">
            <a [routerLink]="['/recipe-books', book.id]">
              <img src="../../assets/background.png" />
            </a>

            <div class="recipe-count">
              <i class="fa-solid fa-list"></i>
              {{ book.recipeAmount || 0 }} {{ (book.recipeAmount || 0) === 1 ? 'recipe' : 'recipes' }}
            </div>
          </div>
          <div class="book-details">
            <div>
              <p class="book-title">{{ book.recipeBookTitle }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
