<div class="main-content">
  <!--Profile image here-->
  <div>
    <img class="user-avatar" src="../../assets/background.png" />
    <h3>{{ user.username }}</h3>
  </div>
  <div>
    <h4>About me</h4>
    <p> {{ user.aboutMe }} </p>
  </div>
  <hr />
  <div>
    <h4>Recipes</h4>
    <!--recipes-->
    <div class="recipes-container">
      <div class="recipe-container">
        <div class="recipe-image">
          <img src="../../assets/background.png" />
          <div class="recipe-short-description">
            <div class="recipe-tags">
              <p>Tags</p>
            </div>
            <div>
              <p class="recipe-description-text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin neque massa, lobortis ut arcu sed, lobortis facilisis lacus. Ut at suscipit enim, et euismod justo. Praesent accumsan aliquam enim, id auctor tortor bibendum sit amet. Nulla aliquet odio at diam cursus, ut finibus justo elementum. Aliquam porttitor ligula sed laoreet suscipit. Sed est arcu, placerat maximus rhoncus at, hendrerit at tellus. Mauris ut quam iaculis, rutrum elit a, congue velit. Maecenas vitae lacinia lectus, eget varius lorem. Curabitur metus ligula, aliquet quis convallis in, viverra vitae nibh. Etiam dignissim lacus a mollis volutpat. Morbi a lectus vitae sem laoreet porttitor eu vitae augue.</p>
            </div>
          </div>
        </div>
        <div class="recipe-details">
          <div>
            <p class="recipe-title">Hamburger</p>
          </div>
          <div>
            <p>username</p>
            <p>•</p>
            <p>8 days ago</p>
          </div>
          <div>
            <p>2kratings</p>
            <p>•</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <h4>Recipe Books</h4>
    <!--recipe books-->
  </div>
</div>
