p{
    margin:0 !important
}



.main-content div h4, p {
  text-align: left;
}

.user-avatar {
  /*aspect-ratio: 1 / 1;*/
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
  width: 18vh;
  height: 18vh;
}


.recipes-container {
  display: flex;
  align-items: center;
}

