<nav class="navbar">
  <!-- Logo + Browse alinhado à esquerda -->
  <div>
    <a [routerLink]="['/recipes']">
      <img class="logo" src="../../assets/logo.png" />
    </a>
    <ul class="nav-links">
      <li><a [routerLink]="['/recipes']">Browse</a></li>
    </ul>
  </div>
  <!-- Links à direita -->
  <div>
    <ul class="nav-links-right">
      <li><a [routerLink]="['/books']">Books</a></li>
      <li><a [routerLink]="['/recipes/create']">Create Recipe</a></li>
      <li><a [routerLink]="['/profile', username]">Profile</a></li>
    </ul>
  </div>

  <!-- Mobile -->
  <div class="hamburger" (click)="toggleMenu()">☰</div>


</nav>
