/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
    margin-top: 10px;
}

a{
    cursor:pointer;
    text-decoration:none;
}

.user-menu {
  z-index: 9999;
  position: absolute;
  padding:1em 4em 1em 1em;
  background-color: white;
  border: 2px solid #082109;
  border-radius: 3px;
  user-select: none;
}

  .user-menu div{
      display:flex;
      align-items:baseline;
      justify-content:flex-start;
      gap: 5px;
      margin-top: 10px;
  }

    .user-menu div:first-child {
      align-items: flex-start; 
    }

  .user-menu p, i{
      font-size: 1.5rem;
  }

    .user-menu p:hover:not(i){
      font-weight: 600;
      text-decoration:underline;
    }

  .user-menu .close-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor:pointer;
  }

.user-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 4rem;
  background-color: #D9D9D9;
  cursor:pointer;
  margin-top: 10px;
}

.user-avatar-small{
    width:50px;
}

nav {
  position: sticky;
  background-color: #45D345;
  width: 100%;
  height: 13vh;
  padding: 0 25px 25px 25px;
  z-index: 1000;
  box-shadow: 0 3px 5px 0 gray;
}


  nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .nav-items {
    display: flex;
    align-items:center;
    gap:12px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2vh;
  }

    nav ul a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      font-weight: 450;
      transition: 0.3s;
      cursor: pointer;
    }

    nav ul a:active {
      text-decoration: underline;
    }

      nav ul a:hover {
        color: #fff;
      }

/* Logo */
.logo {
  height: 10vh;
  margin-right: 10px;
  display: block;
}


/* Menu Mobile */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

  .mobile-menu li {
    padding: 15px;
    text-align: center;
  }

  .mobile-menu.active {
    display: flex;
  }

/* Responsividade */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }


  .hamburger {
    display: block;
  }
}
