
<nav>
  <!-- Logo + Browse alinhado à esquerda -->
  <div>
    <a [routerLink]="['/recipes']">
      <img class="logo" src="../../assets/logo.png" />
    </a>
    <ul class="nav-links">
      <li><a [routerLink]="['/recipes']">browse</a></li>
    </ul>
  </div>
  <!-- Links à direita -->
  <div>
    <ul class="nav-links-right">
      <li><a [routerLink]="['/books']">books</a></li>
      <li><a [routerLink]="['/recipes/create']">create</a></li>
      <li *ngIf="user$ | async as user"><a [routerLink]="['/profile', user.username]">profile</a></li>
      <li *ngIf="user$ | async as user"><a [routerLink]="['/profile/edit']">edit</a></li>
    </ul>
  </div>

  <!-- Mobile -->
  <div class="hamburger" (click)="toggleMenu()">☰</div>


</nav>
