<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!signedIn && !registerSucceeded">
  <div class="register-container">
    <div class="register-box">
      <div class="logo"></div>
      <p class="tagline">Register to start browsing recipes</p>

      <form class="form" [formGroup]="registerForm" (submit)="register($event)">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" id="email" formControlName="email" placeholder="Enter email address" />
        </div>

        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" id="name" formControlName="name" placeholder="Enter username" />
        </div>

        <div class="form-group">
          <label for="password">Password <span class="validation-error" *ngIf="registerForm.get('password')?.invalid">Must have at least 8 characters!</span></label>
          <input type="password" id="password" formControlName="password" placeholder="Enter Password" />
        </div>

        <div class="form-group">
          <label for="confirmPassword">Repeat Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter Password" />
        </div>

        <button class="btn-register" [disabled]="!registerForm.valid" type="submit">Register</button>
      </form>

      <p class="login-text">Already have an account? <a class="login-link" href="signin">Login</a></p>
    </div>
  </div>

</div>

<div *ngIf="registerSucceeded">
  <h4>Registration succeeded</h4>
  <div>
    Please <a href="signin">sign in</a> to continue.
  </div>
</div>

<div *ngIf="signedIn">
  <h4>Signed in</h4>
  <div>
    Please log out of your current session to create a new user account.
  </div>
</div>
