<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!signedIn else signedInAlready">
  <div class="login-container">
    <div class="login-box">
      <div class="logo"></div>
      <p class="tagline">Login to start browsing recipes</p>

      <form class="form" [formGroup]="loginForm" (submit)="signIn($event)">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" id="email" formControlName="email" placeholder="Enter email address" />
        </div>

        <div class="form-group">
          <label for="password">Password <a class="forgot-password" href="#">Forgot Password?</a></label>
          <input type="password" id="password" formControlName="password" placeholder="Enter Password" />
        </div>

        <button class="btn-login" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>

      <p class="register-text">Don't have an account? <a class="register-link" href="new">Register</a></p>
      <a class="register-link" href="recipes">Receitas</a>
    </div>
  </div>

</div>


<ng-template #signedInAlready>
  <h4>Sign In</h4>
  <div>
    You are already signed in!
  </div>
</ng-template>
