<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!signedIn else signedInAlready">
  <div>Please sign in to continue. New user? <a [routerLink]="'/new'">Register now</a>.</div>
  <form class="form w-50" [formGroup]="loginForm" (submit)="signIn($event)">
    <!-- Email Field -->
    <div class="row m-3">
      <label for="email">Email*</label>
      <input class="col form-field" name="email" formControlName="email" />
      <div class="error-feedback" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
        <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']">Enter a valid email address.</div>
      </div>
    </div>
    <!-- Password Field -->
    <div class="row m-3">
      <label for="password">Password*</label>
      <input class="col form-field" type="password" name="password" formControlName="password" autocomplete="on" />
      <div class="error-feedback" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
        <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required.</div>
      </div>
    </div>
    <!-- Error Message -->
    <div class="row m-3" *ngIf="authFailed">
      <label class="text-danger">Invalid credentials. Please try again.</label>
    </div>
    <!-- Submit Button -->
    <div class="row m-3">
      <button class="col btn btn-primary" [disabled]="!loginForm.valid" type="submit">Sign In</button>
    </div>
  </form>
</div>

<!-- Template for Already Signed In -->
<ng-template #signedInAlready>
  <h4>Sign In</h4>
  <div>
    You are already signed in! <a [routerLink]="'/'">Go to Home</a>
  </div>
</ng-template>
